@charset "utf-8";
/* CSS Document */

/*----- GENERAL PURPOSE -----*/
html, body{
}

.container{
    width:100%;
    padding: 0;
}

.bg-color{
    width:  100%;
    margin: 0;
	background-image:url(../img/bg_color.jpg);
    background-repeat: repeat;
	z-index: 1;
}
.bg-pattern{
    width:  100%;
    margin: 0;
	background-image:url(../img/bg_pattern_4_w.png);
    background-repeat: repeat;
    background-attachment: fixed;
	z-index: 2;
}

/*----- MAIN -----*/
.main{
    height: 100vh;
	width: 100vw;
    margin: 0;
    text-align: center;
}
.main-col{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.row .PI_hexa{
    text-align: center;
}
.PI_hexa img{
    width  : 275px;
    height : auto;
    vertical-align: middle;
}
.PI_hexa img:hover{
    filter  : contrast(110%) brightness(90%);
    cursor: pointer;
}

.name{/*
    font-family: 'Patrick Hand', cursive;
    font-family: 'Just Me Again Down Here', cursive;*/
    font-family: 'Kavivanar', cursive;
    font-weight: 900;
    font-size :  50px;
    color :      black;
    text-align : center;

}
.job{
    font-family: 'Oswald', sans-serif;
    font-size :  20px;
    color: black;
    text-align: center;
}

.main-social-icon{
    margin-bottom: 10px;
}
.main-social-icon i{
    color: rgb(80,80,80);
    margin: 0 10px;
}
.main-social-icon i:hover{
    color: black;
    font-weight: bold;
}

.main-message h6{
    font-size: 10px;
    color: white;
    vertical-align: bottom;
    text-align: center;
}