@charset "utf-8";
/* CSS Document */

.bg-color{
	height : 100%;
	margin: 0px;
	background-image:url(../img/bg_color.jpg);
	z-index: 1;
}

.bg-pattern{
	width : 100%;
	margin: 0px;
	background-image:url(../img/bg_pattern_3.png);
	background-attachment: fixed;
	z-index: 2;
}