@charset "utf-8";
/* CSS Document */

/*----- GENERAL PURPOSE -----*/
html, body{
}

.container{
    width:   100%;
    padding: 0;
}

.bg-color{
    width:  100%;
    margin: 0;
	background-image:  url(../img/bg_color.jpg);
    background-repeat: repeat;
	z-index: 1;
}
.bg-pattern{
    width:  100%;
    margin: 0;
	background-image:  url(../img/bg_pattern_4_w.png);
    background-repeat: repeat;
    background-attachment: fixed;
	z-index: 2;
}

/*----- MAIN -----*/
.main{
    height: 100vh;
	width:  100%;
    margin: 0;
    text-align: center;
}
.main-col{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.row .PI_hexa{
    text-align: center;
}
.PI_hexa img{
    width:  275px;
    height: auto;
    vertical-align: middle;
}
.PI_hexa img:hover{
    filter: contrast(110%) brightness(90%);
    cursor: pointer;
}

.name{/*
    font-family: 'Patrick Hand', cursive;
    font-family: 'Just Me Again Down Here', cursive;*/
    font-family: 'Kavivanar', cursive;
    font-weight: 900;
    font-size:   50px;
    color:       black;
    text-align:  center;

}
.job{
    font-family: 'Oswald', sans-serif;
    font-size :  20px;
    color:       black;
    text-align:  center;
}

.main-social-icon{
    margin-bottom: 10px;
}
.main-social-icon i{
    color:  rgb(80,80,80);
    margin: 0 10px;
}
.main-social-icon i:hover{
    color:       black;
    font-weight: bold;
}

.main-message h6{
    font-size:      10px;
    color:          white;
    vertical-align: bottom;
    text-align:     center;
}

/*---------- CONTENU ----------*/
.content{
    width:   100%;
    padding: 0;
    margin:  0;/*
    background-color : rgba(255, 255, 255, 0.1);*/
    display: none;
}
.framework{
    font-family: 'Lato', sans-serif;
    font-size:   15px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 8px #000000;
    color: black;
    width: 100%;
    padding: 10px 0 20px 0;
    margin : 0 0 100px 0;
}
.title{
    font-family: 'Signika', sans-serif;
    font-size :  40px;
    font-weight: normal;
    color: black;/*
    background-color : rgba(0, 0, 0, 1);*/
    text-align: center;/*
    text-transform: uppercase;*/
}

.subtitle{
    font-family: 'Signika', sans-serif;
    font-size :  25px;
    font-weight: normal;
    color: black;/*
    background-color : rgba(0, 0, 0, 1);*/
    text-align: center;/*
    text-transform: uppercase;*/
}

/*----- A PROPOS -----*/
.about-me-txt{
    border-left: 1px solid #000;
}
.about-me-small{
    font-size: 45px;
}

/*----- FORMATION -----*/
.formation-content{
    margin-bottom: 30px;
}
.formation-name{
    margin:0;
    padding-left: 5px;
}
.formation-name span{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.formation-school{
    margin:0;
    padding-left: 5px;
}
.formation-school span{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.formation-date{
    margin:0;
    padding-left: 5px;
}
.formation-date span{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
}
.formation-spec{
    margin:0;
    padding-left: 5px;
}
.formation-spec span{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}
.formation-subject{
    width: 100%;
}
.formation-subject{
    font-size: 15px;
    font-weight: normal;
    padding: 0;
}

/*----- XP-----*/
.XP-content{
    margin-bottom: 30px;
}
.XP-job{
    margin: 0;
    padding-left: 5px;
}
.XP-job span{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.XP-firm{
    margin: 0;
    padding-left: 5px;
}
.XP-firm span{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.XP-date{
    margin: 0;
    padding-left: 5px;
}
.XP-date span{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
}
.XP-mission{
    margin: 0;
    padding-left: 5px;
}
.XP-mission span{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}

/*----- SKILLS -----*/
.skills-left-col{
    border-right : 2px solid #000;
}
.skills li{
    list-style: none;
}

.o-skills ul{
    padding: 0;
}
.o-skills li{
    margin-bottom: 5px;
}
.o-skills-left-col{
    padding: 0;
    margin-right: 10px;
}
.o-skills-mid-col{
    padding: 0;
    margin-right: 5px;
}
.o-skills-right-col{
    padding: 0;
}

/*----- HOBBIES -----*/
.hobbies ul{
    padding: 0;
}
.hobbies li{
    list-style: none;
    margin-bottom: 5px;
}
.hobbies-icon{
    font-size: 2em;
}

/*----- CONTACT -----*/
.contact-left-col{
    border-right: 1px dashed #000;
}
.contact ul{
    padding:0;
}
.contact li{
    list-style: none;
    vertical-align: middle;
    margin-bottom: 5px;
}
.contact a:hover{
    text-decoration: none;
    font-weight: bold;
}
.contact i{
    color: black;
    font-size: 1.5em;
}
.contact-icon-col{
    padding: 0;
    margin-right: 10px;
}
.contact-icon-col li{
    text-align: center;
}
.contact-info-col{
    font-size: 17px;
    padding: 0;
}
.contact-txt{
    color: black;
    vertical-align: middle;
}
.contact-right-col .contact-icon-col{
    padding-top: 4px;
}



/* ---------- RESPONSIVE STYLE ---------- */

@media (max-width: 767px) {
    /*----- MAIN -----*/
    .PI_hexa img{
        width:  500px;
        height: auto;
        vertical-align: middle;
    }
    .sub{
        display: none;
    }

    .about-me-large{
        display: none;
    }
    .about-me-txt{
        margin-top: 20px;
        border-left: none;
    }

    .formation-name span, .formation-school span, .formation-date span, .formation-spec span,
    .XP-job span, .XP-firm span, .XP-date span, .XP-mission span{
        color: red;
    }
    .skills-star i{
        font-size: 15em;
    }

    .skills-left-col{
        border-right : none;
    }
    .hobbies-left-col{
        border-right : none;
    }
    .contact-left-col{
        border-right: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /*----- MAIN -----*/
    .PI_hexa img{
        width:  450px;
        height: auto;
        vertical-align: middle;
    }
    .name{
        font-family: 'Kavivanar', cursive;
        font-weight: 900;
        font-size:   75px;
        color:       black;
        text-align:  center;
    }
    .job{
        font-family: 'Oswald', sans-serif;
        font-size :  40px;
        color:       black;
        text-align:  center;
    }

    .main-social-icon{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .main-social-icon i{
        font-size: 6em;
        color:  black;
        margin: 0 35px;
    }

    .main-message h6{
        display: none;
    }

    .content{
        display: block;
    }
    .title{
        font-size :  70px;
    }

    .subtitle{
        font-size :  50px;
    }

    .sub{
        display: none;
    }

    .about-me-large{
        display: none;
    }
    .about-me-txt{
        font-size: 1em;
        margin-top: 30px;
        border-left: none;
    }
    .about-me-txt p{
        margin-bottom: 30px;
    }

    .formation-name span, .formation-school span, .formation-date span, .formation-spec span,
    .XP-job span, .XP-firm span, .XP-date span, .XP-mission span{
        font-size: 2.5em;
    }
    .formation-date, .XP-date {
        padding-left: 5px;
    }

    .skills-left-col{
        border-right: none;
    }
    .skills-txt{
        font-size: 35px;
    }
    .star-icon i{
        font-size: 35px;
    }
    .star-icon li{
        padding: 8px 0;
    }
    .star-icon span{
        font-size: 0.1%;
    }
    /*
    .o-skills-mid-col{
        font-size: 35px;
    }
    .o-skills-right-col{
        font-size: 35px;
    }*/

    .hobbies-left-col{
        border-right : none;
    }
    .contact-left-col{
        border-right: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /*----- MAIN -----*/
    .PI_hexa img{
        width:  500px;
        height: auto;
        vertical-align: middle;
    }

    .about-me-large{
        display: none;
    }
    .about-me-txt{
        margin-top: 20px;
        border-left: none;
    }
    .sub{
        display: none;
    }
    .skills-left-col{
        border-right : none;
    }
    .hobbies-left-col{
        border-right : none;
    }
    .contact-left-col{
        border-right: none;
    }
}
@media (min-width: 1200px) {
    .about-me-small{
        display: none;
    }
    .other-skills{
        padding-top: 20PX;
    }
}